<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqu.dao.DeviceDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="listDeviceByOrgId" resultType="Device">
        <!-- 具体的sql -->
        SELECT
        d.*
        FROM
        t_device d
        LEFT JOIN t_device_usage o ON d.dev_id = o.dev_id
        WHERE
        o.dep_fri = #{orgId}
        OR o.dep_sec = #{orgId}
        OR o.address = #{orgId}
    </select>

    <select id="listDeviceDtoByExample" resultType="DeviceDTO">
        SELECT
        d.dev_id,d.type_id,d.brand_id,d.dev_model,d.erp_code,d.last_Upate,d.purchase_time,
        u.dev_status,u.domain_state,u.network,
        r.cpu_info,r.hd_size,r.ip_address,r.mac_address,r.memory_Info,r.system_version,
        b.brand,
        t.type,
        o1.org_name as depFri,
        o2.org_name as depSec,
        o3.org_name as address
        FROM
         t_device d
        left join t_device_usage u on d.dev_id = u.dev_id
        left join t_device_running r on d.dev_id = r.dev_id
        left join t_device_brand b on d.brand_id = b.brand_id
        left join t_device_type t on d.type_id = t.type_id
        left join t_organization o1 on u.dep_fri = o1.org_id
        left join t_organization o2 on u.dep_sec = o2.org_id
        left join t_organization o3 on u.address = o3.org_id
        <where>
            <if test ="devId !=null and devId!=''">
                d.dev_id = #{devId}
            </if>
            <if test ="devId !=null and devId!=''">
                AND d.dev_id = #{devId}
            </if>
        </where>
    </select>

    <update id="updateDeviceUseage">
        UPDATE
        t_device_usage
        SET
        <if test ="devStatus !=null and devId!=''">
            dev_status = #{devStatus}
        </if>

        WHERE
            dev_id = #{devId}
    </update>
</mapper>
