<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqu.dao.DeviceDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="listDeviceByOrgId" resultType="Device">
        <!-- 具体的sql -->
        SELECT
        d.*
        FROM
        t_device d
        LEFT JOIN t_device_usage o ON d.dev_id = o.dev_id
        WHERE
        o.dep_fri = #{orgId}
        OR o.dep_sec = #{orgId}
        OR o.address = #{orgId}
    </select>

    <select id="listDeviceDtoByExample" resultType="DeviceDTO">
        SELECT
        d.dev_id,d.type_id,d.brand_id,d.dev_model,d.erp_code,d.last_Upate,d.purchase_time,
        u.dev_status,u.domain_state,u.network,
        r.cpu_info,r.hd_size,r.ip_address,r.mac_address,r.memory_Info,r.system_version,
        b.brand,
        t.type,
        o1.org_name as depFri,
        o2.org_name as depSec,
        o3.org_name as address
        FROM
         t_device d
        left join t_device_usage u on d.dev_id = u.dev_id
        left join t_device_running r on d.dev_id = r.dev_id
        left join t_device_brand b on d.brand_id = b.brand_id
        left join t_device_type t on d.type_id = t.type_id
        left join t_organization o1 on u.dep_fri = o1.org_id
        left join t_organization o2 on u.dep_sec = o2.org_id
        left join t_organization o3 on u.address = o3.org_id
        <where>
            <if test ="devId !=null and devId!=''">
                d.dev_id like "%"#{devId}"%"
            </if>
            <if test ="typeId !=null and typeId!=''">
                AND d.type_id = #{typeId}
            </if>
            <if test ="brandId !=null and brandId!=''">
                AND d.brand_id = #{brandId}
            </if>
            <if test ="devModel !=null and devModel!=''">
                AND d.dev_model = #{devModel}
            </if>
            <if test ="erpCode !=null and erpCode!=''">
                AND d.erp_code = #{erpCode}
            </if>
            <if test ="lastUpate !=null and lastUpate!=''">
                AND d.last_Upate = #{lastUpate}
            </if>
            <if test ="purchaseTime !=null and purchaseTime!=''">
                AND d.purchase_time = #{purchaseTime}
            </if>
            <if test ="devStatus !=null and devStatus!=''">
                AND u.dev_status = #{devStatus}
            </if>
            <if test ="domainStatus !=null and domainStatus!=''">
                AND u.domain_state = #{domainStatus}
            </if>
            <if test ="network !=null and network!=''">
                AND u.network = #{network}
            </if>
            <if test ="cpuInfo !=null and cpuInfo!=''">
                AND r.cpu_info = #{cpuInfo}
            </if>
            <if test ="hdSize !=null and hdSize!=''">
                AND r.hd_size = #{hdSize}
            </if>
            <if test ="ipAddress !=null and ipAddress!=''">
                AND r.ip_address = #{ipAddress}
            </if>
            <if test ="macAddress !=null and macAddress!=''">
                AND r.mac_address = #{macAddress}
            </if>
            <if test ="memoryInfo !=null and memoryInfo!=''">
                AND r.memory_Info = #{memoryInfo}
            </if>
            <if test ="systemVersion !=null and systemVersion!=''">
                AND r.system_version = #{systemVersion}
            </if>
            <if test ="depFri !=null and depFri!=''">
                AND u.dep_fri = #{depFri}
            </if>
            <if test ="depSec !=null and depSec!=''">
                AND u.dep_sec = #{depSec}
            </if>
        </where>
    </select>

    <update id="updateDeviceUseage">
        UPDATE
        t_device_usage
        <set>
            <if test ="devStatus !=null and devStatus!=''">
                dev_status = #{devStatus} ,
            </if>
            <if test ="depFri !=null and depFri!=''">
                 dep_fri = #{depFri} ,
            </if>
            <if test =" depSec == 'none' ">
                dep_sec = null ,
            </if>
            <if test ="depSec !=null and depSec!='' and depSec != 'none' ">
                 dep_sec = #{depSec} ,
            </if>
            <if test =" address == 'none' ">
                address = null ,
            </if>
            <if test ="address !=null and address!='' and address != 'none' ">
                 address = #{address} ,
            </if>
        </set>

        WHERE
            dev_id = #{devId}
    </update>

    <select id="staDeviceByType" resultType="java.util.HashMap">
        SELECT
        t.type as 'key',
        count( 1 ) as 'count'
        FROM
        t_device d
        LEFT JOIN t_device_type t ON d.type_id = t.type_id
       WHERE
        d.purchase_time &lt;= #{monthStr}
        GROUP BY
        d.type_id
    </select>
    <select id="staDeviceByBrand" resultType="java.util.HashMap">
        SELECT
        t.brand as 'key',
        count( 1 ) as 'count'
        FROM
        t_device d
        LEFT JOIN t_device_brand t ON d.brand_id = t.brand_id
       WHERE
        d.purchase_time &lt;= #{monthStr}
        GROUP BY
        d.brand_id
    </select>
    <select id="staDeviceByOrg" resultType="java.util.HashMap">
        SELECT
        count( a.dev_id ) AS 'count',
        IF
        ( c.org_name IS NULL, "未分配", c.org_name ) AS 'key'
        FROM
        t_device a
        LEFT JOIN t_device_usage b ON a.dev_id = b.dev_id
        LEFT JOIN t_organization c ON c.org_id = b.dep_fri
        WHERE
        a.purchase_time &lt;= #{monthStr}
        GROUP BY
        c.org_id UNION
        SELECT
        count( a.type_id ) AS 'count',
        c.org_name AS 'key'
        FROM
        t_device a
        LEFT JOIN t_device_usage b ON a.dev_id = b.dev_id
        AND a.purchase_time &lt;= #{monthStr}
        RIGHT OUTER JOIN t_organization c ON c.org_id = b.dep_fri
        WHERE
        c.org_level = 1
        GROUP BY
        c.org_id
    </select>
    <select id="staDeviceByStatus" resultType="java.util.HashMap">
        SELECT
        count( b.dev_id ) AS 'total',
        count( IF ( b.dev_status = 2, TRUE, NULL ) ) AS 'running'
        FROM
        t_device AS a
        LEFT JOIN t_device_usage b ON a.dev_id = b.dev_id
        WHERE
          a.purchase_time &lt;= #{monthStr}

    </select>


</mapper>
