<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqu.dao.DeviceDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="listDeviceByOrgId" resultType="Device">
        <!-- 具体的sql -->
        SELECT
        d.*
        FROM
        t_device d
        LEFT JOIN t_device_usage o ON d.dev_id = o.dev_id
        WHERE
        o.dep_fri = #{orgId}
        OR o.dep_sec = #{orgId}
        OR o.address = #{orgId}
    </select>
</mapper>
