<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqu.dao.OrganizationDao">
    <!-- where标签知道如何处理and ,or等连接词 -->
    <select id="listOrganizationByExample" parameterType="Organization" resultType="Organization">
        SELECT
        *
        FROM
        t_organization
        <where>
        <if test ="orgId !=null and orgId!=''">
            org_id = #{orgId}
        </if>
        <if test ="orgName !=null and orgName!=''">
            AND org_name = #{orgName}
        </if>
        <if test ="orgLevel !=0 and orgLevel!=''">
            AND org_level = #{orgLevel}
        </if>
        <if test ="orgParentId !=null and orgParentId!=''">
            AND org_parent_id = #{orgParentId}
        </if>
        </where>
    </select>
</mapper>
