<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">

  <!--  meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>台账管理系统</title>
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>

    <!-- 主体部分 -->
    <div class="main-panel">
      <!--标题-->
      <button style="border: none;width:7rem" class="btn btn-outline-dark btn-icon-text" onclick="window.location.href='/deviceManage'">
        <i class="mdi mdi-step-backward btn-icon-prepend"></i>
        <span class="d-inline-block text-left">返回</span>
      </button>
      <p class="mytitle">
        设备分配
      </p>
      <!--内容-->
      <div class="content-wrapper">
        <div class="card">
          <div class="card-body">
            <form id="device_info" class="form-sample">

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">设备标识</label>
                    <div class="col-sm-6">
                      <input type="text" id="devId" name="devId" class="form-control" th:value="${deviceDTO.devId}" readonly="readonly">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">ERP编码</label>
                    <div class="col-sm-9">
                      <input type="text" name="erpCode" class="form-control" th:value="${deviceDTO.erpCode}" readonly="readonly">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">设备类型</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" th:value="${deviceDTO.type}" readonly="readonly">
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">设备品牌</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:value="${deviceDTO.brand}" readonly="readonly"></input>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">购买日期</label>
                    <div class="col-sm-9">
                      <input class="form-control" name="purchaseTime"
                             th:value="${#dates.format(deviceDTO.purchaseTime, 'yyyy-MM-dd HH:mm')}" readonly="readonly">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">设备型号</label>
                    <div class="col-sm-9">
                      <input type="text" name="devModel" class="form-control" th:value="${deviceDTO.devModel}" readonly="readonly">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group row">
                    <h4 class="myh4">设备状态</h4>
                    <input id="devStatus"  type='checkbox'  th:value="${deviceDTO.devStatus}" name='devStatus'>
                  </div>
                </div>
              </div>

              <div id="dev_useage_info">
                  <div th:fragment="useage_info">
                    <div class="row" style="margin-bottom: 2rem">
                      <div class="col-md-9">
                        <div class="form-group row">
                          <h4>已分配使用人</h4>
                          <button type="button" class="btn btn-outline-primary btn-icon-text"
                                  onclick="getOwnerList()"
                                  style="padding: 0.25rem 1rem;margin-left: 1rem;text-align: center" >
                          <i class="mdi mdi-account-multiple-plus"></i>
                          分配
                        </button>
                        </div>
                        <span th:if="${#lists.isEmpty(deviceDTO.userList)}">暂无</span>
                        <span th:if="!${#lists.isEmpty(deviceDTO.userList)}" style="font-weight: bold;margin-left: 2rem" th:each="user :${deviceDTO.userList}" th:text="${user.username}"></span>
                      </div>
                    </div>

                    <div class="row" style="margin-bottom: 2rem">
                      <div class="col-md-9">
                        <div class="form-group row">
                          <h4>设备使用部门</h4>
                          <button type="button" class="btn btn-outline-primary btn-icon-text"
                                   data-toggle="modal" data-target="#orgModal"
                                  onclick="onchangeSelect_add()"
                                  style="padding: 0.25rem 1rem;margin-left: 1rem;text-align: center">
                            <i class="mdi mdi mdi-library-plus"></i>
                              分配
                          </button>
                        </div>
                        <span th:if ="${deviceDTO.depFri == null&&deviceDTO.depSec==null&&deviceDTO.address==null}">暂无</span>
                        <h5 th:if="${deviceDTO.depFri}"> 一级部门: <small class="text-muted" th:text="${deviceDTO.depFri}"></small></h5>
                        <h5 th:if="${deviceDTO.depSec}"> 二级部门: <small class="text-muted" th:text="${deviceDTO.depSec}"></small></h5>
                        <h5 th:if="${deviceDTO.address}"> 物理位置: <small class="text-muted" th:text="${deviceDTO.address}"></small></h5>
                      </div>
                    </div>

                    <div class="row" style="margin-bottom: 2rem">
                      <div class="col-md-9">
                        <div class="form-group row">
                          <h4>所属网络</h4>
                          <button type="button" class="btn btn-outline-primary btn-icon-text" style="padding: 0.25rem 1rem;margin-left: 1rem;text-align: center">
                            <i class="mdi mdi mdi-plus-network"></i>
                              分配
                          </button>
                        </div>
                        <small style="margin-left: 3rem" class="text-muted" th:text="${deviceDTO.ipAddress}"></small>
                        <small style="margin-left: 3rem" class="text-muted" th:text="${deviceDTO.macAddress}"></small>
                        <small class="text-muted" th:if="${deviceDTO.network==1}">信息外网</small>
                        <small class="text-muted" th:if="${deviceDTO.network==2}">信息内网</small>
                        <small class="text-muted" th:if="${deviceDTO.network==0}">未入网</small>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-7"></div>
                <div class="template-demo mt-2">
                  <button type="submit" class="btn btn-outline-success btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    提交
                  </button>
                  <button type="button" class="btn btn-outline-info btn-icon-text" onclick="
                    $('#device_info')[0].reset();
                      ">
                    <i class="mdi mdi-reload btn-icon-prepend"></i>
                    重置
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-icon-text" data-toggle="modal" data-target="#deleteModal">
                    <i class="mdi mdi-close btn-icon-prepend"></i>
                    删除
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>



    <!--分配使用人模态框-->
    <div class="modal fade " id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"  th:if="${ownerMap != null}"  th:fragment="list-refresh">
            <div class="modal-content" style="width: 600px">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">更改分配人员</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                  <div id="userList" class="row">
                      <div class="col-5" style="border: #c9c8c8 solid 1px">
                          <div class="form-check form-check-flat form-check-primary">
                              <label class="form-check-label">
                                  <input type="checkbox" id="notOwner_All-Pick" class="form-check-input">
                                  全部人员
                                  <i class="input-helper"></i></label>
                          </div>
                          <!--搜索条-->
                          <div class="row">
                              <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="form-group">
                                      <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-magnify"></i>
                                                </span>
                                          <input type="text" id="search" name="search" class="form-control" placeholder="关键词搜索">
                                      </div>
                                  </div>
                              </div>
                          </div>

                            <!--全部用户列表-->
                              <ul id="notOwner">
                                 <li  th:each="user : ${ownerMap['allList']}" >
                                     <div class="form-check form-check-flat form-check-primary">
                                         <label class="form-check-label">
                                             <input  name="addOwner" type="checkbox" class="form-check-input"
                                             th:text="${user.username}+'/'+ ${user.userId}" th:value="${user.uuid}">
                                             <i class="input-helper"></i>
                                         </label>
                                     </div>
                                 </li>
                              </ul>

                      </div>
                      <!--添加/删除人员按钮-->
                      <div class="col-2" style="display:flex;justify-content:center;align-items:center;">
                          <div style="text-align: center" >
                              <button class="btn btn-outline-primary btn-fw" onclick="addOwner()" style="margin-bottom: 1rem"> >> </button>
                              <button class="btn btn-outline-primary btn-fw" onclick="delOwner()"> << </button>
                          </div>
                      </div>

                      <div class="col-5" style="border: #c9c8c8 solid 1px">

                          <div class="form-check form-check-flat form-check-primary">
                              <label class="form-check-label">
                                  <input type="checkbox" id="Owner_All-Pick" class="form-check-input">
                                  使用人员
                                  <i class="input-helper"></i></label>
                          </div>

                          <div class="row">
                              <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="form-group">
                                      <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-magnify"></i>
                                                </span>
                                          <input type="text" id="search" name="search" class="form-control" placeholder="关键词搜索">
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <ul id="allOwner">
                              <li  th:each="user : ${ownerMap['ownerList']}" >
                                  <div class="form-check form-check-flat form-check-primary">
                                      <label class="form-check-label">
                                          <input name="delOwner" type="checkbox" class="form-check-input"
                                                 th:text="${user.username}+'/'+ ${user.userId}" th:value="${user.uuid}">
                                          <i class="input-helper"></i></label>
                                  </div>
                              </li>
                          </ul>

                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="updateOwner()">
                        确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!--分配部门模态框-->
    <div class="modal fade" id="orgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" >分配部门</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="input-group mb-3 col-md-8">
                                    <div class="input-group-append " style="height: calc(1.5em + 0.75rem + 2px)">
                                        <span class="input-group-text">一级部门</span>
                                    </div>
                                    <select id="fristOrg_add" style="background:none;" class="custom-select" title="--请选择--" data-size="5" onchange="onchangeSelect_fri()">
                                        <option value="0">请选择</option>
                                        <option th:each="org : ${parentOrg}" th:text="${org.orgName}" th:value="${org.orgId}"></option>
                                    </select>
                                </div>
                                <div class="input-group mb-3 col-md-8">
                                    <div class="input-group-append " style="height: calc(1.5em + 0.75rem + 2px)">
                                        <span class="input-group-text">二级部门</span>
                                    </div>
                                    <select id="secondOrg_add" style="background:none;" class="custom-select" title="--请选择--" data-size="5" onchange="onchangeSelect_sec()">
                                    </select>
                                </div>
                                <div class="input-group mb-3 col-md-8">
                                    <div class="input-group-append " style="height: calc(1.5em + 0.75rem + 2px)">
                                        <span class="input-group-text">物理位置</span>
                                    </div>
                                    <select id="address_add" style="background:none;" class="custom-select" title="--请选择--" data-size="5" >
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="updateOrg()">确定</button>
                        <button type="button" class="btn btn-default " data-dismiss="modal" aria-hidden="true">取消</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- 公共底部引用 -->
    <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>


  </div>
</div>
</div>
</body>
<!-- 公共js引用 -->
<div th:replace="/pages/commons/footer::common_js"></div>
<!--其他js引用-->
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 自定义jS -->
<script>
  //全局变量
  var devId =  $("#devId").val();
  /*初始化*/
  $(document).ready(function(){

    //表单提交触发函数
    $("#device_info").submit(function () {
      //判断表单数据是否为空
      var t = $('form').serializeArray();
      for (var i = 0; i < t.length; i++) {
        if(t[i]['value']==''){
          toastr.error("表格信息不全!");
          return false
        }
      }
    })

    //初始化状态开关
    $("#devStatus").bootstrapSwitch({
      onText : "启用",      // 设置ON文本
      offText : "停用",    // 设置OFF文本
      onColor : "success",// 设置ON文本颜色(info/success/warning/danger/primary)
      offColor : "danger",  // 设置OFF文本颜色 (info/success/warning/danger/primary)
      size : "small",    // 设置控件大小,从小到大  (mini/small/normal/large)
      state:($("#devStatus").val()==1?true:false),
      // 当开关状态改变时触发
      onSwitchChange : function(event, state) {
        var status ;
        if (state == true) {
          status = 1;
        } else {
          status = 0;
        }
        $.ajax({
          url: "/device/status",
          type: "PUT",
          data:{
            "devId": devId,
            "status":status
          },
          dataType: "json",
          success: function(data) {
            if(data==1)
              toastr.success("修改成功");
            else
              toastr.error("服务器异常");
            if(state)
              $("#dev_useage_info").fadeIn("slow");
            else
            $("#dev_useage_info").fadeOut("slow");

          }
        });
      }
    })

    //初始化使用信息展示div
    if($("#devStatus").val()==0){
      $("#dev_useage_info").css("display","none");
    }
  });

  //初始化全选按钮
  function allpick(){
      $("#Owner_All-Pick").click(function(){
          $("input[name='delOwner']").prop("checked",$(this).prop("checked"));
      });
      $("#notOwner_All-Pick").click(function(){
          $("input[name='addOwner']").prop("checked",$(this).prop("checked"));
      });

      $("input[name='addOwner']").change(function () {
          $("#notOwner_All-Pick").prop("checked",true);
          $("input[name='addOwner']").each(function () {
              if(!$(this).prop("checked")){
                  $("#notOwner_All-Pick").prop("checked",false);
                  return;
              };
          })
      })


      $("input[name='delOwner']").change(function () {
          $("#Owner_All-Pick").prop("checked",true);
          $("input[name='delOwner']").each(function () {
              if(!$(this).prop("checked")){
                  $("#Owner_All-Pick").prop("checked",false);
                  return;
              };
          })
      })
  };

    //获取持有者列表
  function getOwnerList() {
      var url = '/account/ownerList?devId='+devId;
      $("#userModal").load(url,function(){
          allpick();
          $('#userModal').modal('show');
      });
  };

  //添加持有者
  function addOwner(){

      $('input[name="addOwner"]:checked').each(function(){//遍历每一个名字为nodes的复选框，其中选中的执行函数

          $(this).attr("name","delOwner");
          $("#allOwner").append(" <li> <div class=\"form-check form-check-flat form-check-primary\">"+$(this).parent()[0].outerHTML+"</div></li>");
          $("#notOwner_All-Pick").prop("checked",false);
          allpick()
          $(this).parent().remove();
      });
  };

  //删除持有者
  function delOwner(){
      $('input[name="delOwner"]:checked').each(function(){//遍历每一个名字为nodes的复选框，其中选中的执行函数
          $(this).attr("name","addOwner");
          $("#notOwner").prepend(" <li> <div class=\"form-check form-check-flat form-check-primary\">"+$(this).parent()[0].outerHTML+"</div></li>");
          $("#Owner_All-Pick").prop("checked",false);
          allpick()
          $(this).parent().remove();
      });
  };;
  //加载使用信息模块
  function loadUseInfo(){
      var url = '/device/useage_info?devId='+devId;
      $("#dev_useage_info").load(url,function(){
          allpick();
      });
  };
  //确定更改持有者
  function updateOwner(){
        var owner_id =[];
        $('input[name="delOwner"]').each(function() {//遍历每一个名字为nodes的复选框，其中选中的执行函数
              owner_id.push($(this).val());//将选中的值添加到数组owner_id中
        });
        var groups = owner_id.join(",");

         $.ajax({
          url: "/device/owner",
          type: "PUT",
          data:{
              "devId": devId,
              "groups":groups
          },
          success: function(data) {
                  if (data ==1 )
                      toastr.success("修改成功");
                  else
                      toastr.error("服务器异常");
              $('#userModal').modal('hide');
              loadUseInfo();
          }

      });
    };
  //重置查询条件
  function initexample() {
      example = {
          "orgId": null,
          "orgName":null,
          "orgParentId":null,
          "orgLevel":null,  //物理位置
      };
  }
  //绑定级联下拉框
  function onchangeSelect_fri() {
      initexample();
      example.orgLevel = 2;
      if($("#fristOrg_add").val()!= "all" ){
          example.orgParentId = $("#fristOrg_add").val();
      }
      $.post('/organization/sub/list',example, function(result){
          if(result.length>0){
              $("#secondOrg_add").attr("disabled",false);
              var  optionHtml ='';
              for(var i=0;i<result.length;i++){
                  optionHtml+="<option value="+result[i].orgId+" >"+result[i].orgName+"</option>";
              }

          }else {
              optionHtml = "<option>暂无数据</option>"
              $("#secondOrg_add").attr("disabled",true);
          }
          jQuery("#secondOrg_add").html(optionHtml);
          onchangeSelect_sec()
      });

  }
  //绑定级联下拉框-二级部门
  function onchangeSelect_sec() {
      initexample();
      example.orgLevel = 3;
      if($("#secondOrg_add").val()!= "all" ){
          example.orgParentId = $("#secondOrg_add").val();
      }
      $.post('/organization/sub/list',example, function(result){
          if(result.length>0){
              $("#address_add").attr("disabled",false);
              var  optionHtml ='';
              for(var i=0;i<result.length;i++){
                  optionHtml+="<option value="+result[i].orgId+" >"+result[i].orgName+"</option>";
              }
          }else {
              optionHtml = "<option>暂无数据</option>"
              $("#address_add").attr("disabled",true);
          }
          jQuery("#address_add").html(optionHtml);
      });

  }
  //确定修改部门
  function updateOrg(){
      var orgid_fri= $("#fristOrg_add").val();
      var orgid_sec = $("#secondOrg_add").val();
      var orgid_addr = $("#address_add").val();
      if (orgid_fri == '0'){
          toastr.warning("请选择一级部门");
          return;
      }
      $.ajax({
          url: "/device/org",
          type: "PUT",
          data:{
              "devId": devId,
              "fri_org":orgid_fri,
              "sec_org":orgid_sec,
              "orgid_addr":orgid_addr,
          },
          success: function(data) {
              if (data ==1 )
                  toastr.success("修改成功");
              else
                  toastr.error("服务器异常");
              $('#orgModal').modal('hide');
              loadUseInfo();
          }

      });
  };

</script>
</html>

