<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">

  <!--  meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>台账管理系统</title>
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>

    <!-- 主体部分 -->
    <div class="main-panel">
      <!--标题-->
      <p class="mytitle">数据统计</p>
      <!--内容-->
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body dashboard-tabs p-0">
                <ul class="nav nav-tabs px-4" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">月累计数据</a>
                  </li>
                </ul>
                <div class="tab-content py-0 px-0">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="d-flex flex-wrap justify-content-xl-between">
                      <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                        <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                        <div class="d-flex flex-column justify-content-around">
                          <small class="mb-1 text-muted">统计日期</small>
                          <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0 text-dark shadow-none font-weight-medium" href="#" role="button" id="dropdownMenuLinkA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <h5 id="sta_month" class="mb-0 d-inline-block">2020-05</h5>
                            </a>
                            <div  class="dropdown-menu" aria-labelledby="dropdownMenuLinkA">
                              <a class="dropdown-item" onclick="chooseTime(this)">2020-01</a>
                              <a class="dropdown-item" onclick="chooseTime(this)">2020-02</a>
                              <a class="dropdown-item" onclick="chooseTime(this)">2020-03</a>
                              <a class="dropdown-item" onclick="chooseTime(this)">2020-04</a>
                              <a class="dropdown-item" onclick="chooseTime(this)">2020-05</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                        <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
                        <div class="d-flex flex-column justify-content-around">
                          <small class="mb-1 text-muted">设备总台账</small>
                          <h5 class="mr-2 mb-0" ><span id="total"></span>台</h5>
                        </div>
                      </div>
                      <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                        <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
                        <div class="d-flex flex-column justify-content-around">
                          <small class="mb-1 text-muted">启用台数</small>
                          <h5 class="mr-2 mb-0" ><span id="running"></span>个</h5>
                        </div>
                      </div>
                      <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                        <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                        <div class="d-flex flex-column justify-content-around">
                          <small class="mb-1 text-muted">停用台数</small>
                          <h5 class="mr-2 mb-0" ><span id="stop"></span>台</h5>
                        </div>
                      </div>
                      <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                        <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>
                        <div class="d-flex flex-column justify-content-around">
                          <small class="mb-1 text-muted">总用户数</small>
                          <h5 class="mr-2 mb-0" ><span id="countUser"></span>人</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" id="doughnutChartParent">
                <h4 class="card-title">设备类型</h4>
                <canvas id="doughnutChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" id="pieChartParent">
                <h4 class="card-title">设备品牌</h4>
                <canvas id="pieChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body" id="barChartParent">
                <h4 class="card-title">部门统计</h4>
                <canvas id="barChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 公共底部引用 -->
      <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>

    </div>
  </div>
</div>
</body>
<!-- 公共js引用 -->
<div th:replace="/pages/commons/footer::common_js"></div>
<!--其他js引用-->
<!--<script src="/js/chart.js"></script>-->
<!-- 自定义jS -->
<script>
  //图表设置
  var doughnutPieOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };
  var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }

  };
  var barChartData = {
    datasets: [{
      label: '分配设备数',
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1,
      fill: false
    }]
  };
  var doughnutChartData = {
    //数据
    datasets: [{
      backgroundColor: [
        'rgba(255, 99, 132, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ]
    }],
  };
  var pieChartData = {
    //数据
    datasets: [{
      backgroundColor: [
        'rgba(255, 99, 132, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ]
    }],
  };

  $(document).ready(function(){
    reloadCharts();
  });

  //选中时间
  function chooseTime(obj){
    var monthStr = $(obj).html();
    $("#sta_month").html(monthStr);
    reloadCharts();
  }

  //月累计数据统计
  function  Count() {
    
  }  
  //重载图表
  function reloadCharts(){
    var monthStr = $("#sta_month").html();
    $.ajax( {
      dataType: 'json',
      data:{
        "monthStr":monthStr
      },
      url: "/device/statistics",
      success: function (data) {
        //statusMap
        /*状态统计*/
        $("#countUser").html(data.statusMap.countUser) ;
        $("#running").html(data.statusMap.running) ;
        $("#total").html(data.statusMap.total) ;
        $("#stop").html(data.statusMap.stop) ;
        /*类型分类*/
        //填充数据
        doughnutChartData.datasets[0].data = data.typeMap.valueArr;
        doughnutChartData.labels = data.typeMap.keyArr;
        //清空画布
        $('#doughnutChart').remove();
        $('#doughnutChartParent').append('<canvas id="doughnutChart" ></canvas>');
        //绘制表格
        var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
        var doughnutChart = new Chart(doughnutChartCanvas, {
          type: 'doughnut',
          data: doughnutChartData,
          options: doughnutPieOptions
        });

        /*品牌分类*/
        //填充数据
        pieChartData.datasets[0].data = data.brandMap.valueArr;
        pieChartData.labels = data.brandMap.keyArr;
        //清空画布
        $('#pieChart').remove();
        $('#pieChartParent').append('<canvas id="pieChart" ></canvas>');
        //绘制表格
        var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
        var pieChart = new Chart(pieChartCanvas, {
          type: 'pie',
          data: pieChartData,
          options: doughnutPieOptions
        });

        /*部门分类*/
        //填充数据
        barChartData.datasets[0].data = data.orgMap.valueArr;
        barChartData.labels = data.orgMap.keyArr;
        //清空画布
        $('#barChart').remove();
        $('#barChartParent').append('<canvas id="barChart" ></canvas>');

        //绘制图表
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas, {
          type: 'bar',
          data: barChartData,
          options: options
        });

      }
    } );
  }
</script>
</html>

