<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">
  <title>台账管理系统</title>
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>

    <!-- 主体部分 -->
    <div class="main-panel">
      <!--标题-->
      <p class="mytitle">设备类型</p>
      <!--内容-->
      <div class="content-wrapper">
        <!-- 表格-->
        <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-4">
                  <button type="button" class="btn btn-outline-primary btn-fw mr-2" data-toggle="modal" data-target="#addModal">新增设备类型</button>
                  <button type="button" class="btn btn-outline-success btn-fw mr-2" data-toggle="modal" data-target="#editModal">编辑</button>
                  <button type="button" class="btn btn-outline-danger btn-fw mr-2" data-toggle="modal" data-target="#deleteModal">删除</button>
                  </div>
                </div>
                <!--表格-->
                <div class="table-responsive">
                  <table id="device-type-listing" class="table table-hover table-refresh" th:fragment="table-refresh">
                    <thead>
                    <tr>
                      <th></th>
                      <th>设备类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class ="tr_sub" th:each="type : ${typeList}">
                      <td><input type="checkbox"/></td>
                      <td th:text="${type.type}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--删除确认模态框-->
      <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <span style="vertical-align: inherit;margin-left: auto">
                是否确认删除?
              </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="button" class="btn btn-danger">
                确定
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
  </div>

      <!--编辑模态框-->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">编辑</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="devType">设备类型名</label>
                <input id="devType" type="text" class="form-control" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="editInfo()">确定</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>

      <!--新增模态框-->
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" >新增设备</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form id="addDeviceType" action="/device/add" method="post">
                <div class="form-group">
                  <label for="deviceType_name" >设备类型</label>
                  <input id="deviceType_name" type="text" class="form-control" placeholder="请输入设备类型"/>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="addInfo()">确定</button>
              <button type="button" class="btn btn-default " data-dismiss="modal" aria-hidden="true">取消</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 公共底部引用 -->
      <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>
    </div>
  </div>
</div>
</body>
<!-- 自定义jS -->
<script>
  //被选中目标
  var selectedObj = null;
  //绑定表格点击事件
  function initTr_onclick(){
    $(".tr_sub").click(function () {
      selectedObj = this;
      $(".tr_sub").removeClass("active");
      $(this).addClass("active");
      $(".tr_sub").find(":checkbox").prop("checked",false);
      $(this).find(":checkbox").prop("checked", true);
    })
  }
  //初始化表格 加载数据
  function inittable(){
    debugger;
    $('.modal').modal('hide');
    $.ajax({
      url:"/baseInfos/type/list",
      type:"GET",
      async:false,
      success:function (data) {
        $(".table-refresh").html(data);
        $("#device-type-listing").dataTable().fnDestroy();
        $('#device-type-listing').DataTable({
          "aLengthMenu": [
            [5, 10, 15, -1],
            [5, 10, 15, "全部"]
          ],
          "iDisplayLength": 10,
          "language": {
            search: ""
          },
          "pagingType": "full_numbers",
          searching: true, paging: true, info: true
        });
        initTr_onclick();
      }
    });
  }
  //新增设备类型
  function addInfo(){
        $.ajax({
          url: "/baseInfos/type/add",
          data: {
            type: $("#deviceType_name").val(),
          },
          type: "POST",
          dataType: "json",
          success: function(data) {
            if(data == 1){
              toastr.success('添加成功');
              cleanInfo();
              inittable();
            }
            else if(data == 0)
              toastr.warning('系统错误');
          }
        });
  }
  /*初始化*/
  $(document).ready(function(){
    inittable();
  });
</script>
</html>

