<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">
  <!--  meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>台账管理系统</title>
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>
    <!-- 主体部分 -->
    <div class="main-panel"/>
    <!--标题-->
    <p class="mytitle">设备管理</p>
    <!--内容-->
    <div class="content-wrapper">
      <!-- 搜索相关 -->
      <div class="row" id="toolbar">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <ul class="navbar-nav mr-lg-4" style="width: 60%;">
              <li class="nav-item nav-search d-none d-lg-block w-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                        <span class="input-group-text" id="search">
                          <i class="mdi mdi-magnify"></i>
                        </span>
                  </div>
                  <input type="text" id="detailSearch_devId2" class="form-control" placeholder="输入设备标识搜索" aria-label="search" aria-describedby="search">
                </div>
              </li>
            </ul>
            <div class="d-flex justify-content-between align-items-end flex-wrap" style="float: right">
              <button type="button" class="btn btn-light bg-white  mr-3 mt-2 mt-xl-0" onclick="search()">
                <a><i class="mdi mdi-magnify"></i> 搜索</a>
              </button>
              <button type="button" class="btn btn-light bg-white  mr-3 mt-2 mt-xl-0" onclick="detailSearch()">
                <a><i class="mdi mdi-plus text-muted" id="detailSearchIcon"></i> 更多搜索</a>
              </button>
              <button class="btn btn-primary mt-2 mt-xl-0" onclick="exportExcel('/device/exportExcel','deviceManage')">导出报表</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 高级搜索选项框 -->
      <div id="detailSearch" style="display: none">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="input-group mb-3 col-md-3">
            <div class="input-group-append ">
              <span class="input-group-text" >设备标识</span>
            </div>
            <input id="detailSearch_devId" type="text" class="form-control" placeholder="输入设备标识" aria-label="设备标识" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3 col-md-3">
            <div class="input-group-append">
              <span class="input-group-text" >设备类型</span>
            </div>
            <select id="detailSearch_devType"  class="custom-select select-append" title="--请选择--"  data-size="5">
              <option value="">全部</option>
              <option th:each="type :${deviceTypeList}" th:text="${type.type}" th:value="${type.typeId}"></option>
            </select>
          </div>
          <div class="input-group mb-3 col-md-3">
            <div class="input-group-append ">
              <span class="input-group-text" >设备品牌</span>
            </div>
            <select id="detailSearch_devBrand" class="custom-select select-append" title="--请选择--"  data-size="5">
              <option value="">全部</option>
              <option th:each="brand :${deviceBrandList}" th:text="${brand.brand}" th:value="${brand.brandId}"></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="input-group mb-3 col-md-3">
            <div class="input-group-append ">
              <span class="input-group-text" >购买时间</span>
            </div>
            <input id="detailSearch_purchaseTime" type="text" class="form-control timepicker" placeholder="选择时间">
          </div>
          <div class="input-group mb-3 col-md-3">
            <div class="input-group-append ">
              <span class="input-group-text" >使用状态</span>
            </div>
            <select id="detailSearch_devStatus" class="custom-select select-append" title="--请选择--"  data-size="5">
              <option value="all">全部</option>
              <option value="2">运行</option>
              <option value="1">停用</option>
            </select>
          </div>
          <div class="input-group mb-3 col-md-3">
            <div class="input-group-append ">
              <span class="input-group-text" >域管理状态</span>
            </div>
            <select id="detailSearch_domainStatus" class="custom-select select-append" title="--请选择--"  data-size="5">
              <option value="all">全部</option>
              <option value="2">已加域</option>
              <option value="1">未加域</option>
            </select>
          </div>

        </div>
      </div>
      <!-- 操作相关 -->
      <div class="row" style="margin: 10px;" >
        <button type="submit" class="btn btn-primary mr-2" onclick="window.location.href='/addDevice'" >新增设备</button>
        <!-- 排序下拉框-->
        <div class="input-group-prepend col-md-7">
          <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">排序方式</button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0; left: 0; transform: translate3d(0px, 47px, 0px);">
              <a class="dropdown-item" href="#">购置时间升序</a>
              <a class="dropdown-item" href="#">购置时间降序</a>
            </div>
        </div>
        <!-- 操作按钮组-->
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" onclick= editInfo()>编辑</button>
          <button type="button" class="btn btn-danger" onclick="allotDev()">分配</button>
          <button type="button" class="btn btn-success" >域管理</button>
        </div>
      </div>
      <!-- 表格-->
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table id="table-listing" class="table dataTable table-hover table-refresh"  th:fragment="table-refresh">
                  <thead>
                  <tr>
                    <th></th>
                    <th>设备标识</th>
                    <th>设备类型</th>
                    <th>设备品牌</th>
                    <th>设备型号</th>
                    <th>购置时间</th>
                    <th>ERP资产编码</th>
                    <th>使用状态</th>
                    <th>域管理状态</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class ="tr_sub" th:each="deviceDTO : ${dtoList}">
                    <td id="uuId" th:value="${deviceDTO.devId}"><input type="checkbox"/></td>
                    <td th:text="${deviceDTO.devId}"></td>
                    <td th:text="${deviceDTO.type}"></td>
                    <td th:text="${deviceDTO.brand}"></td>
                    <td th:text="${deviceDTO.devModel}"></td>
                    <td th:text="${#dates.format(deviceDTO.purchaseTime, 'yyyy-MM-dd')}"></td>
                    <td th:text="${deviceDTO.erpCode}"></td>
                    <td th:text="${deviceDTO.devStatus==1?'停用':'运行'}"></td>
                    <td th:text="${deviceDTO.domainStatus==1?'未加域':'已加域'}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 公共底部引用 -->
    <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>


  </div>

</div>
</body>
<!-- 公共js引用 -->
<div th:replace="/pages/commons/footer::common_js"></div>
<!--其他js引用-->
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 自定义jS -->
<script>
  var searchFlag = false; //高级搜索标志
  var table_init_url = "/device/list/deviceManage";//表格加载请求地址
  /*初始化*/
  $(document).ready(function(){
    /* 日期选择插件*/
    $(".timepicker").datetimepicker({
      bootcssVer:3, //bootstrap 版本
      format: 'yyyy-mm-dd',
      language:'zh-CN',
      minView: 2,
      autoclose: true
    });
    inittable(table_init_url);
  });


  /*更多搜索弹框*/
  function detailSearch() {
    searchFlag = !searchFlag;//切换搜索标志,决定搜索方式
    $("#detailSearch").slideToggle();
  }

  //搜索按钮
  function search(){
    if(searchFlag){  //高级搜索
     var example = {
        "devId": $("#detailSearch_devId").val(),
        "typeId":$("#detailSearch_devType").val(),
        "brandId":$("#detailSearch_devBrand").val(),
         "pageName":"deviceManage"
      };

     if($("#detailSearch_devStatus").val()!="all")
         example.devStatus = $("#detailSearch_devStatus").val();
     if($("#detailSearch_domainStatus").val()!="all")
         example.domainStatus = $("#detailSearch_domainStatus").val();
     if($("#detailSearch_purchaseTime").val()!="")
         example.purchaseTime=$("#detailSearch_purchaseTime").val();

        searchByexample("/device/list",example);
    }else {//id模糊搜索
      var example = {
        "devId":$("#detailSearch_devId2").val(),
        "pageName":"deviceManage"
      }
      searchByexample("/device/list",example);
    }
  }

  //编辑信息
  function editInfo() {
    if(selectedObj){
      var devId = $(selectedObj).children("#uuId").attr("value");
      window.location.href ='/editDevice/'+devId;
    }else {
      toastr.warning("请选择一条数据")
    }
  }

  //分配设备
  function allotDev(){
    if(selectedObj){
      var devId = $(selectedObj).children("#uuId").attr("value");
      window.location.href ='/allotDevice/'+devId;
    }else {
      toastr.warning("请选择一条数据")
    }
  }

</script>
</html>

