<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">
  <title>台账管理系统</title>
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>

    <!-- 主体部分 -->
    <div class="main-panel">
      <!--标题-->
      <p class="mytitle">设备品牌</p>
      <!--内容-->
      <div class="content-wrapper">
        <!--操作按钮组-->
        <div class="row" style="margin-bottom: 1rem">
          <div class="col-md-8"></div>
          <div shiro:hasAnyRoles="admin,superAdmin" class="col-md-4">
            <button type="button" class="btn btn-outline-primary btn-fw mr-2" data-toggle="modal" data-target="#addModal">新增设备品牌</button>
            <button type="button" class="btn btn-outline-success btn-fw mr-2"  onclick="openEdit()">编辑</button>
            <button type="button" class="btn btn-outline-danger btn-fw mr-2" data-toggle="modal" data-target="#deleteModal">删除</button>
          </div>
        </div>
        <!-- 表格-->
        <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <!--表格-->
                <div class="table-responsive">
                  <table id="table-listing" class="table table-hover table-refresh" th:fragment="table-refresh">
                    <thead>
                    <tr>
                      <th></th>
                      <th>设备品牌</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class ="tr_sub" th:each="brand : ${brandList}">
                      <td id="uuId" th:value="${brand.brandId}"><input type="checkbox"/></td>
                      <td id="brandName" th:text="${brand.brand}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--删除确认模态框-->
      <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <span style="vertical-align: inherit;margin-left: auto">
                是否确认删除?
              </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="button" class="btn btn-danger" onclick="deleteInfo()">
                确定
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div>

      <!--编辑模态框-->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">编辑</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="brandName_edit">设备品牌名</label>
                <input id="brandName_edit" type="text" class="form-control" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="editInfo()">确定</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>

      <!--新增模态框-->
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" >新增品牌</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="deviceBrand_name" >设备品牌</label>
                  <input id="deviceBrand_name" type="text" class="form-control" placeholder="请输入设备品牌"/>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="addInfo()">确定</button>
              <button type="button" class="btn btn-default " data-dismiss="modal" aria-hidden="true">取消</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 公共底部引用 -->
      <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>
    </div>
  </div>
</div>
</body>
<!-- 公共js引用 -->
<div th:replace="/pages/commons/footer::common_js"></div>
<!-- 自定义jS -->
<script>
  var selectedObj = null;//被选中目标
  var table_init_url = "/baseInfos/brand/list";//表格加载请求地址
  //新增设备类型
  function addInfo(){
    $.ajax({
      url: "/baseInfos/brand",
      data: {
        brand: $("#deviceBrand_name").val(),
      },
      type: "POST",
      dataType: "json",
      success: function(data) {
        if(data == 1){
          toastr.success('添加成功');
          cleanInfo();
          inittable(table_init_url);
        }
        else if(data == -1){
          toastr.warning('已经存在同名类型');
        } else{
          toastr.error('服务器异常')
        }
      }
    });
  }
  //删除设备类型
  function deleteInfo(){
    if(selectedObj){
      var uuid = $(selectedObj).children("#uuId").attr("value");
      $.ajax({
        url: "/baseInfos/brand/"+uuid,
        type: "DELETE",
        dataType: "json",
        success: function(data) {
          if(data == 1){
            toastr.success('删除成功');
            cleanInfo();
            inittable(table_init_url);
          }else{
            toastr.warning('系统错误');
          }
        }
      });
    }else{
      toastr.warning("请选择一条数据")
      $('#deleteModal').modal('hide');
    }
  }

  //打开编辑框
  function openEdit(){
    if(selectedObj){
      var brandName = $(selectedObj).find("#brandName")[0].innerText;
      $("#brandName_edit").val(brandName);
      $('#editModal').modal('show');
    }else{
      toastr.warning("请选择一条数据")
    }
  };
  //编辑信息
  function editInfo(){
    var uuid = $(selectedObj).children("#uuId").attr("value");
    var brandName = $("#brandName_edit").val();
    $.ajax({
      url: "/baseInfos/brand",
      type: "PUT",
      data:{
        "brandId": uuid,
        "brand":brandName
      },
      dataType: "json",
      success: function(data) {
        if(data==1){
          toastr.success("修改成功");
          cleanInfo();
          inittable(table_init_url);
          $('.modal').modal('hide');
        }
        else if(data == -1){
          toastr.warning("已存在同名类型");
        }else{
          toastr.error("服务器异常");
        }
      }
    });
  };

  /*初始化*/
  $(document).ready(function(){
    inittable(table_init_url);
  });
</script>
</html>

