<html lang="cn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">
  <title>台账管理系统</title>
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>

    <!-- 主体部分 -->
    <div class="main-panel">
      <!--返回按钮-->
      <button style="border: none;width:7rem" class="btn btn-outline-dark btn-icon-text" onclick="window.location.href='/notice'">
        <i class="mdi mdi-step-backward btn-icon-prepend"></i>
        <span class="d-inline-block text-left">返回</span>
      </button>
      <!--标题-->
      <p class="mytitle">信息公告</p>
      <!--内容-->
      <div class="card" style="border: none">
        <div class="row">
              <div class="card-body">
                <h4 class="card-title">新增公告</h4>
                <form class="forms-sample" id="editForm" action="/notice" method="post">
                  <div class="form-group">
                    <label for="exampleInputCity1">标题</label>
                    <input name="noticeTitle" type="text" class="form-control" id="exampleInputCity1" placeholder="请输入标题">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputCity1">内容简介</label>
                    <input name="noticeFile" type="text" class="form-control"  placeholder="请输入简要概述">
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea1">内容</label>
                    <textarea name="noticeContent" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                  </div>
                  <div style="float: right">
                    <button type="submit" class="btn btn-primary mr-2">提交</button>
                    <button class="btn btn-light" onclick="$('#editForm')[0].reset();">重置</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

      <!--删除确认模态框-->

      <!-- 公共底部引用 -->
      <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>
    </div>
  </div>
</div>
</body>
<!-- 公共js引用 -->
<div th:replace="/pages/commons/footer::common_js"></div>
<!-- 自定义jS -->
<script>
  /*初始化*/
  $(document).ready(function(){
    $("#editForm").submit(function () {
      //判断表单数据是否为空
      var t = $('form').serializeArray();
      for (var i = 0; i < t.length; i++) {
        if(t[i]['value']==''){
          toastr.error("表格信息不全!");
          return false
        }
      }
    })
  });

</script>
</html>

