<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">

  <!--  meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>台账管理系统</title>
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>

    <!-- 主体部分 -->
    <div class="main-panel">
      <!--标题-->
      <p class="mytitle">系统管理</p>
      <!--内容-->
      <div class="content-wrapper">
        <!-- tab选项卡 -->
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body dashboard-tabs p-0">
                <!-- 选项卡导航-->
                <ul class="nav nav-tabs px-4" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="adminAccount-tab" data-toggle="tab" href="#adminAccount" role="tab" aria-controls="adminAccount" aria-selected="true">管理员账号</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="systemLog-tab" data-toggle="tab" href="#systemLog" role="tab" aria-controls="systemLog" aria-selected="false">系统操作日志</a>
                  </li>
                </ul>
                <!-- 选项卡内容-->
                <div class="tab-content py-0 px-0">

                  <div class="tab-pane fade show active" id="adminAccount" role="tabpanel" aria-labelledby="adminAccount-tab">
                    <!-- 管理员账号表格-->
                    <div class="row">
                      <div class="col-md-12 stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-8"></div>
                              <div class="col-md-4">
                                <button type="button" onclick="addAdmin()" class="btn btn-outline-primary btn-fw mr-2">新增管理员</button>
                                <button type="button" class="btn btn-outline-success btn-fw mr-2"  onclick="openEdit()">重置密码</button>
                                <button type="button" class="btn btn-outline-danger btn-fw mr-2" data-toggle="modal" data-target="#deleteModal">删除</button>
                              </div>
                            </div>
                            <!--表格-->
                            <div class="table-responsive">
                              <table id="table-listing" class="table table-hover table-refresh" th:fragment="table-refresh">
                                <thead>
                                <tr>
                                  <th></th>
                                  <th>管理员账号</th>
                                  <th>账号级别</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class ="tr_sub" th:each="account : ${adminsList}">
                                  <td id="uuId" th:value="${account.uuid}"><input type="checkbox"/></td>
                                  <td id="userId" th:text="${account.userId}"></td>
                                  <td id="role_name" th:text="${account.roleName}"></td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="systemLog" role="tabpanel" aria-labelledby="systemLog-tab">
                    <!-- 系统日志列表 -->
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">系统日志列表</h4>
                        <div class="card-description row">
                          <code style="line-height: 46px">时间范围</code>
                        <input type="text" style="margin-left: 1rem;margin-right: 1rem" id="startTime" class="form-control col-2 timepicker" onchange="loadLogs()" placeholder="开始时间">
                          <span style="line-height: 46px;"> 到 </span>
                          <input type="text" id="endTime" style="margin-left: 1rem" class="form-control col-2 timepicker" onchange="loadLogs()" placeholder="结束时间">
                        </div>
                        <p class="card-description">  管理员账号   </p>
                        <div style=" overflow-y: scroll;height: 300px">
                        <ul class="list-arrow" id="logsUL" th:fragment="logList-refresh">
<!--                          <li>2020-03-29 21:54:59 管理员(admin)：修改账号(ab)状态为:启用 </li>-->
                          <!--<li>2020-03-22 20:36:54 管理员(admin)：新增设备(wr123)使用部门(一级部门:综合服务中心,二级部门:11,三级部门:555,物理位置:)</li>
                          <li>2020-03-22 20:35:12 管理员(admin)：(信息维护)新增物理位置 省十四</li>
                          <li>2020-03-22 19:17:10 管理员(admin)：修改设备(111)IP地址:192.168.0.1;MAC地址:00:ec:56:a7:97:6E</li>-->
                          <li th:each="log : ${logList}" th:text="${#dates.format(log.startTime, 'yyyy-MM-dd HH:mm:ss')+' 管理员('+log.userNo+'): '+log.discription}"></li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--删除确认模态框-->
      <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <span style="vertical-align: inherit;margin-left: auto">
               确定删除该管理员吗?
              </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="button" class="btn btn-danger" onclick="deleteAdmin()">
                确定
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
  </div>

      <!--编辑模态框-->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">编辑</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="userId_edit">账号</label>
                <input id="userId_edit" type="text" class="form-control" disabled />
              </div>
              <div class="form-group">
                <label for="password_edit">设置密码</label>
                <input id="password_edit" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="password2_edit">确认密码</label>
                <input id="password2_edit" type="text" class="form-control" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="editInfo()">立即提交</button>
              <button type="button" class="btn btn-default" onclick="cleanInfo()">重新输入</button>
            </div>
          </div>
        </div>
      </div>

      <!--账户模态框-->
      <div class="modal fade " id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" th:fragment="list-refresh">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">添加至管理员</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div id="userList" class="row">
                <div class="col-10" style="margin: auto">
                  <!--全部用户列表-->
                  <ul id="notOwner">
                    <li  th:each="user : ${usersDTOList}" >
                      <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                          <input  name="addAdmin" type="checkbox" class="form-check-input"
                                  th:text="${user.username}+'/'+ ${user.userId}" th:value="${user.uuid}">
                          <i class="input-helper"></i>
                        </label>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" onclick="updateAdmin()">
                确定
              </button>
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div>
      </div>

      <!-- 公共底部引用 -->
      <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>

    </div>
  </div>
</div>
</body>
<!-- 公共js引用 -->
<div th:replace="/pages/commons/footer::common_js"></div>
<!--其他js引用-->
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 自定义jS -->
<script>
    var table_init_url = "/account/admins";//表格加载请求地址
    var aTargets = [0,1]; //禁止排序列下标
    var aaSorting = 2; //排序起始列下标
    /*初始化*/
    $(document).ready(function(){
      inittable(table_init_url,aTargets,aaSorting);
      loadLogs();


    /*表格点击事件*/
    $(".tr_sub").click(function () {
      $(".tr_sub").css("backgroundColor","");
      $(this).css("backgroundColor","darkgray");
      $(".recent-purchases-listing").find(":checkbox").attr("checked",false);
      $(this).find(":checkbox").attr("checked", true);
    })

    /* 日期选择插件*/
    $(".timepicker").datetimepicker({
      // bootcssVer:3, //bootstrap 版本
      // format: 'yyyy-mm-dd',
  /*    language:'zh-CN',
      minView: 4,
      autoclose: true*/
    });

  });

  function addAdmin(){
    $.ajax({
      url:"/account/users",
      type:"GET",
      async:false,
      success:function (data) {
        $("#userModal").html(data);
        $('#userModal').modal('show');
      }
    });
  }

  function deleteAdmin(){
    if(selectedObj==null){
      toastr.warning("请选择一条数据");
      return;
    }
    var uuid = $(selectedObj).children("#uuId").attr("value");
    $.ajax({
      url:"/account/admins",
      type:"PUT",
      data:{
        "level":3,
        "groups":uuid
      },
      success:function (data) {
        $("#userModal").html(data);
        toastr.success("删除成功")
        $('#userModal').modal('hide');
        inittable(table_init_url,aTargets,aaSorting);
      }
    });
  }
    //确定新增管理员
    function updateAdmin(){
      var owner_id =[];
      $('input[name="addAdmin"]:checked').each(function() {//遍历每一个名字为nodes的复选框，其中选中的执行函数
        owner_id.push($(this).val());//将选中的值添加到数组owner_id中
      });
      var groups = owner_id.join(",");

      $.ajax({
        url: "/account/admins",
        type: "PUT",
        data:{
          "groups":groups,
          "level":2
        },
        success: function(data) {
          if (data ==1 )
            toastr.success("修改成功");
          else
            toastr.error("服务器异常");
          $('#userModal').modal('hide');
          inittable(table_init_url,aTargets,aaSorting);
        }

      });
    };

    //打开编辑框
    function openEdit(){
      if(selectedObj){
        var userId = $(selectedObj).find("#userId")[0].innerText;
        $("#userId_edit").val(userId);
        $('#editModal').modal('show');
      }else{
        toastr.warning("请选择一条数据")
      }
    };

    //编辑账户信息
    function editInfo(){
      var uuid = $(selectedObj).children("#uuId").attr("value");
      var password = $("#password_edit").val();
      var password2 = $("#password2_edit").val();
      if(password.length<6){ //确认密码长度是否符合要求
        toastr.warning("密码位数小于6位!")
      }else{
        if(password!=password2){ //确认两次密码输入是否一致
          toastr.warning("两次输入密码不一致!")
        }else{
          $.ajax({
            url: "/account/password",
            type: "PUT",
            data:{
              "uuid": uuid,
              "password":password
            },
            dataType: "json",
            success: function(data) {
              if(data==1)
                toastr.success("修改成功");
              else
                toastr.error("服务器异常");
              cleanInfo();
              $('.modal').modal('hide');
            }
          });
        }
      }
    };



    //初始化表格 ，加载数据并绑定表格点击事件
    function loadLogs(){
      $.ajax({
        url:"/baseInfos/log",
        data:{
          "startTime": $("#startTime").val(),
          "endTime": $("#endTime").val()
        },
        type:"GET",
        success:function (data) {
          $("#logsUL").html(data);
        }
      });
    }
</script>
</html>

