<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/pages/commons/layout :: common_layout(~{::title},~{})">

  <!--  meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>台账管理系统</title>
  <!-- 引入静态资源 -->
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" >
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
<div class="container-scroller">
  <!-- 公共头部引用 -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"   th:include="/pages/commons/header::common_head"></nav>
  <!-- 主体流式布局 -->
  <div class="container-fluid page-body-wrapper">
    <!-- 导航边条 -->
    <nav  class="sidebar sidebar-offcanvas" th:include="/pages/commons/sidebar::common_sidebar" ></nav>

    <!-- 主体部分 -->
    <div class="main-panel">
      <!--标题-->
      <p class="mytitle">系统管理</p>
      <!--内容-->
      <div class="content-wrapper">
        <!-- tab选项卡 -->
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body dashboard-tabs p-0">
                <!-- 选项卡导航-->
                <ul class="nav nav-tabs px-4" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="adminAccount-tab" data-toggle="tab" href="#adminAccount" role="tab" aria-controls="adminAccount" aria-selected="true">管理员账号</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="systemLog-tab" data-toggle="tab" href="#systemLog" role="tab" aria-controls="systemLog" aria-selected="false">系统操作日志</a>
                  </li>
                </ul>
                <!-- 选项卡内容-->
                <div class="tab-content py-0 px-0">

                  <div class="tab-pane fade show active" id="adminAccount" role="tabpanel" aria-labelledby="adminAccount-tab">
                    <!-- 管理员账号表格-->
                    <div class="row">
                      <div class="col-md-12 stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-8"></div>
                              <div class="col-md-4">
                                <button type="button" class="btn btn-outline-primary btn-fw mr-2">新增管理员</button>
                                <button type="button" class="btn btn-outline-success btn-fw mr-2" data-toggle="modal" data-target="#editModal">重置密码</button>
                                <button type="button" class="btn btn-outline-danger btn-fw mr-2" data-toggle="modal" data-target="#deleteModal">删除</button>
                              </div>
                            </div>
                            <!--表格-->
                            <div class="table-responsive">
                              <table id="recent-purchases-listing" class="table table-hover">
                                <thead>
                                <tr>
                                  <th></th>
                                  <th>管理员账号</th>
                                  <th>账号级别</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class ="tr_sub">
                                  <td><input type="checkbox"/></td>
                                  <td>Jeremy Ortega</td>
                                  <td>Levelled up</td>
                                </tr>
                                <tr class ="tr_sub">
                                  <td><input type="checkbox"/></td>
                                  <td>Alvin Fisher</td>
                                  <td>Ui design completed</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"/></td>
                                  <td>Emily Cunningham</td>
                                  <td>support</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"/></td>
                                  <td>Minnie Farmer</td>
                                  <td>support</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"/></td>
                                  <td>Betty Hunt</td>
                                  <td>Ui design not completed</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"/></td>
                                  <td>Myrtie Lambert</td>
                                  <td>Ui design completed</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"/></td>
                                  <td>Jacob Kennedy</td>
                                  <td>New project</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"/></td>
                                  <td>Ernest Wade</td>
                                  <td>Levelled up</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="systemLog" role="tabpanel" aria-labelledby="systemLog-tab">
                    <!-- 系统日志列表 -->
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">系统日志列表</h4>
                        <div class="card-description"> <code>时间范围</code>
                        <input type="text" class="form-control col-2 timepicker" placeholder="选择时间"></div>
                        <p class="card-description">  管理员账号   </p>
                        <ul class="list-arrow">
                          <li>2020-03-29 21:54:59 管理员(admin)：修改账号(ab)状态为:启用 </li>
                          <li>2020-03-22 20:36:54 管理员(admin)：新增设备(wr123)使用部门(一级部门:综合服务中心,二级部门:11,三级部门:555,物理位置:)</li>
                          <li>2020-03-22 20:35:12 管理员(admin)：(信息维护)新增物理位置 省十四</li>
                          <li>2020-03-22 19:17:10 管理员(admin)：修改设备(111)IP地址:192.168.0.1;MAC地址:00:ec:56:a7:97:6E</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--删除确认模态框-->
      <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <span style="vertical-align: inherit;margin-left: auto">
                删除人员会解除设备绑定，是否删除
              </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="button" class="btn btn-danger">
                确定
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
  </div>
      <!--编辑模态框-->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">编辑</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="id">账号</label>
                <input id="id" type="text" class="form-control" disabled />
              </div>
              <div class="form-group">
                <label for="password">设置密码</label>
                <input id="password" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="password">确认密码</label>
                <input id="password2" type="text" class="form-control" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="editInfo()">立即提交</button>
              <button type="button" class="btn btn-default" onclick="cleanInfo()">重新输入</button>
            </div>
          </div>
        </div>
      </div>

      <!-- 公共底部引用 -->
      <footer class="d-sm-flex justify-content-center justify-content-sm-center" th:include="/pages/commons/footer::common_foot"/>


    </div>
  </div>
</div>
</body>
<!-- 公共js引用 -->
<div th:replace="/pages/commons/footer::common_js"></div>
<!-- 引入js -->
<script src="/vendors/base/vendor.bundle.base.js"></script>
<script src="/vendors/chart.js/Chart.min.js"></script>
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/js/off-canvas.js"></script>
<script src="/js/hoverable-collapse.js"></script>
<script src="/js/template.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/data-table.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap4.js"></script>
<script src="/js/olanguage.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 自定义jS -->
<script>
  /*初始化*/
  $(document).ready(function(){

  });

  /*表格点击事件*/
  $(".tr_sub").click(function () {
    $(".tr_sub").css("backgroundColor","");
    $(this).css("backgroundColor","darkgray");
    $(".recent-purchases-listing").find(":checkbox").attr("checked",false);
    $(this).find(":checkbox").attr("checked", true);
  })

  /* 日期选择插件*/
  $(".timepicker").datetimepicker({
    // bootcssVer:3, //bootstrap 版本
    // format: 'yyyy-mm-dd',
/*    language:'zh-CN',
    minView: 4,
    autoclose: true*/
  });

</script>
</html>

